body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:246px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:488px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:488px;
}
#u95 {
  position:absolute;
  left:2px;
  top:236px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u96 {
  position:absolute;
  left:13px;
  top:458px;
  width:36px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u98 {
  position:absolute;
  left:59px;
  top:458px;
  width:36px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u100 {
  position:absolute;
  left:151px;
  top:458px;
  width:36px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u102 {
  position:absolute;
  left:197px;
  top:458px;
  width:36px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u104 {
  position:absolute;
  left:105px;
  top:458px;
  width:36px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
