body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:237px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066 {
  position:absolute;
  left:12px;
  top:38px;
  width:223px;
  height:403px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:194px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:10px;
}
#u2068 {
  position:absolute;
  left:12px;
  top:38px;
  width:223px;
  height:10px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:-3px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:12px;
  top:47px;
  width:223px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2072 {
  position:absolute;
  left:99px;
  top:53px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2074 {
  position:absolute;
  left:208px;
  top:53px;
  width:20px;
  height:20px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:12px;
  top:77px;
  width:223px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2078 {
  position:absolute;
  left:19px;
  top:84px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2080 {
  position:absolute;
  left:54px;
  top:84px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2082 {
  position:absolute;
  left:90px;
  top:84px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2084 {
  position:absolute;
  left:161px;
  top:84px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2086 {
  position:absolute;
  left:192px;
  top:84px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2088 {
  position:absolute;
  left:127px;
  top:84px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:98px;
}
#u2090 {
  position:absolute;
  left:12px;
  top:134px;
  width:223px;
  height:98px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:41px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u2092 {
  position:absolute;
  left:38px;
  top:192px;
  width:171px;
  height:26px;
  font-size:10px;
  text-align:center;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:27px;
}
#u2094 {
  position:absolute;
  left:12px;
  top:107px;
  width:223px;
  height:27px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:6px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2096 {
  position:absolute;
  left:19px;
  top:110px;
  width:20px;
  height:20px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2098 {
  position:absolute;
  left:43px;
  top:117px;
  width:52px;
  height:13px;
  font-size:10px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2100 {
  position:absolute;
  left:206px;
  top:116px;
  width:20px;
  height:10px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:100px;
}
#u2102 {
  position:absolute;
  left:87px;
  top:118px;
  width:74px;
  height:100px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2103 {
  position:absolute;
  left:2px;
  top:42px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:98px;
}
#u2104 {
  position:absolute;
  left:12px;
  top:269px;
  width:223px;
  height:98px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:41px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u2106 {
  position:absolute;
  left:38px;
  top:327px;
  width:171px;
  height:26px;
  font-size:10px;
  text-align:center;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:27px;
}
#u2108 {
  position:absolute;
  left:12px;
  top:242px;
  width:223px;
  height:27px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:6px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2110 {
  position:absolute;
  left:19px;
  top:245px;
  width:20px;
  height:20px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2112 {
  position:absolute;
  left:43px;
  top:252px;
  width:52px;
  height:13px;
  font-size:10px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2114 {
  position:absolute;
  left:206px;
  top:251px;
  width:20px;
  height:10px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:100px;
}
#u2116 {
  position:absolute;
  left:87px;
  top:253px;
  width:74px;
  height:100px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2117 {
  position:absolute;
  left:2px;
  top:42px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:12px;
}
#u2118 {
  position:absolute;
  left:12px;
  top:405px;
  width:223px;
  height:12px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:27px;
}
#u2120 {
  position:absolute;
  left:12px;
  top:377px;
  width:223px;
  height:27px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:6px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2122 {
  position:absolute;
  left:19px;
  top:380px;
  width:20px;
  height:20px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2124 {
  position:absolute;
  left:43px;
  top:387px;
  width:52px;
  height:13px;
  font-size:10px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2126 {
  position:absolute;
  left:206px;
  top:386px;
  width:20px;
  height:10px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:12px;
  top:417px;
  width:55px;
  height:24px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u2130 {
  position:absolute;
  left:67px;
  top:417px;
  width:56px;
  height:24px;
  color:#FF00FF;
}
#u2131 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:180px;
  top:417px;
  width:55px;
  height:24px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:122px;
  top:417px;
  width:58px;
  height:24px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:311px;
}
#u2136 {
  position:absolute;
  left:12px;
  top:107px;
  width:223px;
  height:311px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:148px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2138 {
  position:absolute;
  left:21px;
  top:103px;
  width:20px;
  height:4px;
  color:#1E1E1E;
}
#u2139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:26px;
}
#u2141 {
  position:absolute;
  left:16px;
  top:49px;
  width:215px;
  height:26px;
  text-align:left;
}
#u2142 {
  position:absolute;
  left:2px;
  top:5px;
  width:211px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u2143 {
  position:absolute;
  left:206px;
  top:51px;
  width:19px;
  height:23px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:152px;
}
#u2146 {
  position:absolute;
  left:12px;
  top:289px;
  width:223px;
  height:152px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:68px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u2148 {
  position:absolute;
  left:199px;
  top:409px;
  width:34px;
  height:29px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:213px;
}
#u2150 {
  position:absolute;
  left:12px;
  top:77px;
  width:223px;
  height:213px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:98px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
