body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:246px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:437px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:437px;
}
#u33 {
  position:absolute;
  left:2px;
  top:210px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:15px;
  width:31px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
