body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:246px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:573px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:573px;
}
#u71 {
  position:absolute;
  left:2px;
  top:278px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u72 {
  position:absolute;
  left:13px;
  top:543px;
  width:36px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u74 {
  position:absolute;
  left:59px;
  top:543px;
  width:36px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u76 {
  position:absolute;
  left:151px;
  top:543px;
  width:36px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u78 {
  position:absolute;
  left:197px;
  top:543px;
  width:36px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u80 {
  position:absolute;
  left:105px;
  top:543px;
  width:36px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
