body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:490px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:237px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:12px;
  top:38px;
  width:223px;
  height:403px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:194px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:10px;
}
#u1053 {
  position:absolute;
  left:12px;
  top:38px;
  width:223px;
  height:10px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:-3px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:12px;
  top:47px;
  width:223px;
  height:31px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u1057 {
  position:absolute;
  left:64px;
  top:85px;
  width:124px;
  height:14px;
  font-size:8px;
  color:#FFFFFF;
}
#u1058 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:80px;
}
#u1060 {
  position:absolute;
  left:23px;
  top:103px;
  width:199px;
  height:80px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:32px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:23px;
  top:183px;
  width:199px;
  height:33px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1064 {
  position:absolute;
  left:24px;
  top:186px;
  width:164px;
  height:28px;
  font-size:10px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u1066 {
  position:absolute;
  left:64px;
  top:226px;
  width:124px;
  height:14px;
  font-size:8px;
  color:#FFFFFF;
}
#u1067 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u1068 {
  position:absolute;
  left:64px;
  top:365px;
  width:124px;
  height:14px;
  font-size:8px;
  color:#FFFFFF;
}
#u1069 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:57px;
}
#u1070 {
  position:absolute;
  left:23px;
  top:384px;
  width:199px;
  height:57px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:20px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:80px;
}
#u1072 {
  position:absolute;
  left:24px;
  top:243px;
  width:199px;
  height:80px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:32px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:24px;
  top:323px;
  width:199px;
  height:32px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u1076 {
  position:absolute;
  left:18px;
  top:51px;
  width:30px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1077 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1078 {
  position:absolute;
  left:24px;
  top:327px;
  width:164px;
  height:28px;
  font-size:10px;
}
#u1079 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:23px;
  top:243px;
  width:200px;
  height:80px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1082 {
  position:absolute;
  left:23px;
  top:384px;
  width:200px;
  height:57px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
